{% extends "layouts/main.html" %}

{% set pageName = "Check details and confirm your answers" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/application"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        Juggling experience
      </span>
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      {% if experienceFirstUnansweredQuestion %}
        <div class="govuk-inset-text app-prompt">
      {% endif %}
      {% include "./_answers.html" %}
      {% if experienceFirstUnansweredQuestion %}
          <p class="app-prompt__text">You must complete juggling experience before you can send your application.</p>
          {{ govukButton({
            text: "Complete juggling experience",
            href: '/application/edit-experience/' + experienceFirstUnansweredQuestion
          }) }}
        </div>
      {% endif %}

      {% if not experienceFirstUnansweredQuestion %}
        <form method="post" novalidate>

          {{ govukRadios({
            name: "experience[status]",
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "You can still make changes to a completed section"
            },
            items: [
              {
                value: "Completed",
                text: "Yes, I’ve completed this section"
              },
              {
                value: "Incomplete",
                text: "No, I’ll come back to it later"
              }
            ],
            value: data.experience.status
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
      {% endif %}

    </div>
  </div>
{% endblock %}
