{% extends "layouts/main.html" %}

{% set pageName = "What is your most impressive juggling trick?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <span class="govuk-caption-l">
          Juggling experience
        </span>
        {{ govukCharacterCount({
          name: "experience[trick]",
          id: "experience[trick]",
          maxwords: 200,
          label: {
            text: pageName,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: data.experience.trick
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
