{% set footerHtml %}
    <h2 class="govuk-heading-m">Get help</h2>

    <p class="govuk-!-font-size-16">Email: <a href="mailto:help@juggling.license.service.gov.uk">help@juggling.license.service.gov.uk</a></br>
    You’ll get a response within 5 working days.</p>

    <hr class="govuk-section-break govuk-section-break--l">
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/accessibility">
          Accessibility
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/privacy-notice">
          Privacy notice
        </a>
      </li>
    </ul>
  {% endset %}

  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}