{% if data.user %}
  {% set serviceUrl = '/application' %}
{% else %}
  {% set serviceUrl = '/has-account' %}
{% endif %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: serviceName,
  serviceUrl: serviceUrl,
  navigation: [{
    href: '/application',
    text: 'Application'
  }, {
    href: '/account/sign-out',
    text: 'Sign out'
  }] if data.user
}) }}