.app-prompt {
  border-left: 5px solid govuk-colour('blue');

  .govuk-summary-list {
    margin-bottom: govuk-spacing(4);
  }

  .app-prompt__text {
    color: govuk-colour('blue');
    font-weight: bold;
  }
}

.app-prompt--error {
  border-left: 5px solid govuk-colour('red');

  .app-prompt__text {
    color: govuk-colour('red');
  }
}