{% set files %}
  <ul class="govuk-list govuk-list--bullet">
    {% for fileId, file in data.evidence.files %}
      <li>
        <a href="#">{{file.filename}}</a>
      </li>
    {% endfor %}
  </ul>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Do you have evidence to upload?"
      },
      value: {
        html: data.evidence.hasEvidence
      },
      actions: {
        items: [
          {
            href: '/application/edit-evidence/has-evidence',
            text: "Change",
            visuallyHiddenText: "if you have evidence to upload"
          }
        ]
      } if not data.sentDate
    } if data.evidence.hasEvidence,
    {
      key: {
        text: "Uploaded evidence"
      },
      value: {
        html: files
      },
      actions: {
        items: [
          {
            href: '/application/edit-evidence/check-files',
            text: "Change",
            visuallyHiddenText: "uploaded evidence"
          }
        ]
      } if not data.sentDate
    } if data.evidence.files
  ]
}) if data.evidence.hasEvidence}}
