{% extends "layouts/main.html" %}

{% set pageName = "Your application" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if completedSectionsCount < 3 %}
        <h2 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">
          Application incomplete
        </h2>
        <p class="govuk-!-margin-bottom-6">You’ve completed {{completedSectionsCount}} of 3 sections.</p>
      {% endif %}

       {{ appTaskList({
        disableSectionNumbering: true,
        sections: [{
          titleText: "About you",
          items: [{
            text: "Personal details",
            href: "/application/edit-personal-details/" + personalDetailsPage,
            tag: {
              colour: personalDetailsStatus | statusColour,
              text: personalDetailsStatus
            }
          }]
        }, {
          titleText: "Juggling experience",
          items: [{
            text: "Juggling experience",
            href: "/application/edit-experience/juggling-balls",
            tag: {
              colour: experienceStatus | statusColour,
              text: experienceStatus
            }
          }]
        }, {
          titleText: "Evidence",
          items: [{
            text: "Evidence",
            href: "/application/edit-evidence/has-evidence",
            tag: {
              colour: evidenceStatus | statusColour,
              text: evidenceStatus
            }
          }]
        }]
      }) }}

      <h2 class="govuk-heading-m">
        Review application
      </h2>

      {{ govukButton({
        text: "Review and send",
        href: '/application/check'
      }) }}

    </div>
  </div>
{% endblock %}
