{% extends "layouts/main.html" %}

{% set pageName = "Your email address" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukInput({
          id: "new[emailAddress]",
          name: "new[emailAddress]",
          label: {
            text: pageName,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: data.new.emailAddress
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
