{% extends "layouts/main.html" %}

{% set pageName = "You cannot apply for a juggling license" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>This is because you must be able to juggle at least one ball.</p>

    </div>
  </div>
{% endblock %}
