{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/task-list/macro.njk" import appTaskList %}
{% from "_components/address/macro.njk" import appAddress %}

{% block header %}
  {% include "_includes/header.njk" %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container'
  }) }}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}